{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification Points Fort{% endblock %}

{% block body %}
    <h1>Modifier les points fort</h1>

    {{ form(form) }}    
{% endblock %}